:root {
    --cell-height: 14vh;
    --cell-width: 14vh;
    --mark-size: calc(var(--cell-height) * 0.9);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.board__cell {
    width: var(--cell-height);
    height: var(--cell-width);
    border: 1px dotted black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
}

.board-hovered {
    background-color: lightgray;
    background-size: var(--mark-size) var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;
}

.board-hovered_player-one {
    background-image: url(./assets/media/x-symbol.svg);
}

.board-hovered_player-two {
    background-image: url(./assets/media/circle-symbol.svg);
}

.board__cell.player-one {
    background-image: url(./assets/media/x-symbol.svg);
    background-size: var(--mark-size) var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
}

.board__cell.player-two {
    background-image: url(./assets/media/circle-symbol.svg);
    background-size: var(--mark-size) var(--mark-size);
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
}

.victory-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.877);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}

.victory-window.show {
    display: flex;
}

.victory-window__message {
    text-align: center;
}

.victory-window__button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    cursor: pointer;
    border-radius: 60%;
}

.victory-window button:hover {
    background-color: black;
    color: white;
    border-color: white;
}
